body {
  background-color: var(--body-color);
  color: var(--color-text-default);
  font-family: var(--font-family-body);
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
  margin: var(--margin-standard);
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  color: var(--color-text);
  font-size: var();
}

div.centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-display);
}

svg.icon {
  display: inline;
  height: var(--font-size-large);
  width: var(--font-size-large);
  vertical-align: top;
  fill: currentColor;
}
/* 
header {
  display: flex;

  align-items: center;
  justify-content: flex-end;
} */

a.profile-dropdown {
  display: flex;
  align-items: center;
  max-width: fit-content;
  padding: var(--padding-standard);
  border-radius: 50px;
  background-color: var(--body-regular-color);
  color: var(--color-text-inverted);
  gap: 8px;
}

a.profile-dropdown img {
  border-radius: 50px;
  height: 32px;
  width: 32px;
}

.button {
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: scale(var(--animated-scale));
}

div.grid-test {
  display: grid;
}

/* this is where we'll demo grids */
div.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* 12 equal-width columns */
  gap: var(--gap-large);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-rows: minmax(100px, auto);
  width: 100%; /* Ensure the wrapper takes up the full width of the screen */
}

div.wrapper > div {
  background-color: var(--body-regular-color);
  border-radius: 3rem;
  padding: 40px;
}

div.wrapper .pages-container {
  grid-column: 1 / span 6;
  grid-row: 1 / span 2;
}

div.wrapper .info-container {
  grid-column: 7 / span 6;
  grid-row: 1;
}

div.wrapper .misc-container {
  grid-column: 7 / span 6;
  grid-row: 2;
}

@media (max-width: 768px) {
  /* Adjust the width based on your needs */
  div.wrapper {
    grid-template-columns: repeat(6, 1fr); /* Reduce to 6 columns */
  }

  div.wrapper .pages-container {
    grid-column: 1 / span 6; /* Take up the full width */
    grid-row: 1; /* Stack it on top */
  }

  div.wrapper .info-container {
    grid-column: 1 / span 6; /* Also take up the full width */
    grid-row: 2; /* Stack it below */
  }
}

header nav a {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: var(--padding-standard);
  border-radius: var(--rounded-corners-regular);
  gap: var(--gap-regular);
  transition: all var(--transition-regular);
}

header nav a:hover {
  background-color: var(--button-color);
  scale: var(--animated-scale);
}

header nav a {
  font-size: var(--font-size-large);
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 48px;
  margin-bottom: 48px;
}

header h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

