:root {
  /* font stuffs */
  --font-family-display: "Afacad Flux", sans-serif;
  --font-family-body: "Roboto", sans-serif;
  --font-size-small: 12px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 36px;

  /* color scheme of our app */
  --body-color: rgb(0, 0, 0);
  --color-text-default: rgb(255, 255, 255);
  --color-text-subtle: rgb(179 179 179);
  --body-highlight-color: rgb(51 51 51);
  --body-regular-color: rgb(18 18 18);
  --bright-accent-color: rgb(30 215 96);
  --button-color: rgb(42 42 42);

  /* visual niceties */
  --rounded-corners-regular: 16px;

  /* spacing rules */
  --margin-standard: 36px;
  --padding-standard: 24px;
  --gap-regular: 8px;

  /* animations */
  --transition-regular: 0.3s;
  --animated-scale: 1.03;
}
