:root {
  /* font stuffs */
  --font-family-display: "Afacad Flux", sans-serif;
  --font-family-body: "Roboto", sans-serif;
  --font-size-small: 12px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-xlarge: 36px;

  /* color scheme of our app */
  --body-color: rgb(0, 0, 0);
  --color-text-default: rgb(255, 255, 255);
  --body-foreground-color: rgb(31 31 31);
  --interactive-element-color: rgb(62, 62, 62);

  /* inverted color scheme of our app */
  --body-color-inverted: rgb(0, 0, 0);
  --color-text-default-inverted: rgb(0, 0, 0);
  --body-foreground-color-inverted: rgb(31 31 31);
  --interactive-element-color-inverted: rgb(217, 217, 217);

  /* visual niceties */
  --rounded-corners-regular: 16px;
  --bright-accent-color: rgb(30 215 96);

  /* spacing rules */
  --margin-standard: 36px;
  --padding-standard: 24px;
  --gap-regular: 8px;
  --gap-large: 16px;

  /* animations */
  --transition-regular: 0.3s;

  --animated-scale-small: 1.01;
  --animated-scale: 1.03;
}
